# 네이버 개발자센터 (쇼핑 검색 / DataLab 공용)
# https://developers.naver.com/apps
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# 네이버 검색광고 API
# https://searchad.naver.com > 도구 > API 사용 관리
SEARCHAD_API_KEY=
SEARCHAD_SECRET_KEY=
SEARCHAD_CUSTOMER_ID=

# 수집 제어
SCOUT_CONCURRENCY=20
SCOUT_RPS_SHOPPING=8
SCOUT_RPS_SEARCHAD=4
SCOUT_CACHE_TTL_HOURS=24
SCOUT_DB_PATH=./data/scout.db
SCOUT_CHECKPOINT_DIR=./data/checkpoints
SCOUT_HTTP2=1
